@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.app {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'Young Serif', serif;
    color: #273C5B;
}

header p {
    margin-top: 8px;
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid rgb(179, 177, 177);
    color:#000000;
    font-family: 'Inter', sans-serif;
}

.card h2 {
    margin-top: 0;
    font-family: 'Young Serif', serif;
    font-size: 28px;
    color: #273C5B;
    margin-bottom: 20px;
}

.cliente-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 60%;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 11px;
    font-size: 16px;
    color: #000000;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    background-color: #E5E8EB;
    box-shadow: inset 1px 2px 7px rgba(92, 92, 92, 0.4);
}

.form-group input:focus {
    outline: 2px solid #386b1a;
}

button {
    width: 60%;
    padding: 11px 18px;
    margin-top: 3%;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #687D31;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #42521b;
}

.empty-message {
    color: #251e1e;
}

.clientes-lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cliente-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}

.cliente-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cliente-item p {
    margin: 5px 0;
}

.form-group select {
    padding: 11px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
}